documents/elements.txt linguist-generated=true
pages/dictionary.js linguist-generated=true
static/parsed_yaml.js linguist-generated=true
tests/test_elements.py linguist-generated=true
mill linguist-generated=true
mill.bat linguist-generated=true
