documentation/elements.txt linguist-generated=true
documentation/trigraphs.txt linguist-generated=true
**/ShortDictionary.txt linguist-generated=true
**/LongDictionary.txt linguist-generated=true
jvm/resources/*.nanorc linguist-generated=true
static/parsed_yaml.js linguist-generated=true
tests/test_elements.py linguist-generated=true
mill linguist-generated=true
mill.bat linguist-generated=true
