documentation/elements.txt linguist-generated=true
js/src/main/scala/Dictionary.scala linguist-generated=true
jvm/src/main/resources/*.nanorc linguist-generated=true
static/parsed_yaml.js linguist-generated=true
tests/test_elements.py linguist-generated=true
mill linguist-generated=true
mill.bat linguist-generated=true
