.right {
  float: right;
  display: flex;
}

.left {
  float: right;
  display: flex;
}

button {
  border: none !important;
  color: white;
}

button:focus {
  outline: none;
  color: white;
}

body {
  background-color: #353535;
  color: #c0c0c0;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

input,
textarea {
  color: white;
  background-color: #1e1e1e !important;
  font-family: "DejaVu Sans Mono", monospace;
  min-height: 3em !important;
  height: 3em;
  border: none !important;
  border-radius: 0px !important;
  margin-bottom: 1em;
  overflow: visible;
}

input:focus,
textarea:focus {
  border: none;
}

textarea {
  width: 100%;
}

details {
  color: white;
  font-size: large;
  font-family: "Montserrat", sans-serif;
}

summary {
  padding-bottom: 10px;
}

#keyboard {
  border: 1px solid #eee;
  display: flex;
  flex-wrap: wrap;
}

.key {
  display: inline-block;
  padding: 2px;
  cursor: crosshair;
  font-family: "DejaVu Sans Mono", monospace;
  color: white;
  width: 1em;
  text-align: center;
  user-select: none; /* Frick compatibility */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@media (any-hover: hover) {
  .key:hover {
    background-color: rgba(255, 255, 255, 0.596);
    color: #000;
  }
}

@media (any-hover: none) {
  .key.touched {
    background-color: rgba(255, 255, 255, 0.596);
    color: #000;
  }
}

h2 {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none !important;
  color: white !important;
}

session-code {
  display: none;
}

#dummy {
  width: calc(100vw - 16px);
}

button:hover {
  color: white;
}

i {
  font-size: 24px;
}

#html-rendered-output {
  resize: both;
  overflow: hidden;
  background: white;
  margin-bottom: 0.5em;
  width: fit-content; /* initial width before being resized */
  max-width: 100%;
}

#html-rendered-output > iframe {
  width: 100%;
  height: 100%;
  margin: 0;
  border: none;
}

/* keyboard styles */

#keyboard-root .row {
  padding-bottom: 1em;
  width: 100%;
}

#keyboard-root label {
  display: inline-block;
  color: white;
  font-family: "Montserrat", sans-serif;
  padding-right: 1%;
}

#keyboard-root input {
  display: inline-block;
}

.tooltip {
  max-width: calc(min(500px, 90vw));
  background: #000;
  padding: 10px;
  color: white;
  white-space: pre-wrap;
  z-index: 100;
  border-radius: 5px;
  transition: opacity 0.15s;
  word-wrap: break-word;
  font-family: "DejaVu Sans Mono", monospace;
  font-size: 1.2rem;
  text-align: left;
  user-select: none; /* Frick compatibility */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.description:not(:first-child) {
  margin-top: 1em;
}

.arrow,
.arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

.arrow {
  visibility: hidden;
}

.arrow::before {
  visibility: visible;
  content: "";
  transform: rotate(45deg);
}

.tooltip[data-popper-placement^="top"] > .arrow {
  bottom: -4px;
}

.tooltip[data-popper-placement^="bottom"] > .arrow {
  top: -4px;
}

.tooltip[data-popper-placement^="left"] > .arrow {
  right: -4px;
}

.tooltip[data-popper-placement^="right"] > .arrow {
  left: -4px;
}
