<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Permissions-Policy" content="interest-cohort=()" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vyxal Interpreter</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
        integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ=="
        crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <script defer src="https://kit.fontawesome.com/646af2e33b.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/jpg"
        href="https://raw.githubusercontent.com/Lyxal/Vyxal/master/templates/favicon.ico">

    <script defer src='https://cdn.jsdelivr.net/npm/codemirror@5.62.0/lib/codemirror.min.js'></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5.62.0/lib/codemirror.min.css">

    <script defer src="https://vyxal.github.io/Vylight/mode-vyxal.js"></script>
    <script defer src="https://unpkg.com/@popperjs/core@2"></script>
    <script defer src="https://unpkg.com/fuzzysort@2.0.1"></script>
    <link rel="stylesheet" href="https://vyxal.github.io/Vylight/mode-vyxal.css">

    <script defer src="{{url_for('static', filename='main.js')}}"></script>
    <script defer src="{{url_for('static', filename='parsed_yaml.js')}}"></script>
    <script defer src="{{url_for('static', filename='search.js')}}"></script>
    <script type="module" src="{{url_for('static', filename='keyboard.js')}}"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body onload="initCodeMirror(); decodeURL();  updateCount();">
    <textarea id=dummy style="visibility: hidden;position:absolute; height: 0px; font: size 20px;"></textarea>
    <session-code>{{session}}</session-code>
    <h2 style="display: inline-block;"><a href="https://github.com/Vyxal/Vyxal" target="_blank">Vyxal</a></h2>
    <button id="run_button" title="Run Program" type="button" onclick="this.blur()">
        <i class="fas fa-play-circle"></i>
    </button>

    <button id="permalink" title="Generate Permalink" type="button"
        onclick="shareOptions('permalink'); resizeCodeBox('output')">
        <i class="fas fa-link"></i>
    </button>

    <button id="post-template" title="Generate Code Golf Submission" type="button"
        onclick="shareOptions('post-template'); resizeCodeBox('output')">
        <i class="fas fa-medal"></i>
    </button>

    <button id="markdown" title="Generate Inline Markdown" type="button"
        onclick="shareOptions('markdown'); resizeCodeBox('output')">
        <i class="fab fa-markdown"></i>
    </button>

    <button id="clear" title="Clear all fields">
        <i class="fas fa-redo"></i>
    </button>

    <details>
        <summary>Keyboard</summary>
        <div id="keyboard-root"></div>
    </details>

    <details id="flag-detail">
        <summary>Flags</summary>
        <input type="text" name="flags" id="flag" style="min-height: 2em;">
    </details>

    <details id="header-detail">
        <summary>Header</summary>
        <textarea id="header" name="header" oninput="resizeCodeBox('header')"></textarea>
    </details>

    <details open id="code-detail">
        <summary id="code-count">Code: 0 bytes</summary>
        <textarea id="code" name="code" oninput="resizeCodeBox('code'); updateCount()"
            onkeyup="updateCount()"></textarea>
    </details>

    <details id="footer-detail">
        <summary>Footer</summary>
        <textarea id="footer" name="footer"></textarea>
    </details>

    <details open id="inputs-detail">
        <summary>Inputs</summary>
        <textarea id="inputs" name="inputs" oninput="resizeCodeBox('inputs')"></textarea>
    </details>

    <details id="output-detail">
        <summary style="display: inline-block;">Output</summary>
        <button onclick="copyToClipboard('output')" style="height:auto; display: inline-block;" type="button">Click to
            copy</button>
        <div id="html-rendered-output" hidden>
        </div>
        <textarea id="output" value="" readonly></textarea>
    </details>

    <details id="extra-detail">
        <summary>Debug</summary>
        <textarea value="" id="extra" readonly></textarea>
    </details>
</body>
