.cm-mod{
    color: #569cd6;
}
.cm-comp{
    color: #4ec9b0;
}
.cm-function{
    color: #dbdb78;
}
.cm-list{
    color: rgb(136, 75, 160);
}
.cm-string{
    color: #ce9178 !important;
}
.cm-comment{
    color:#6a9955 !important;
}
.cm-keyword{
    color: #c586c0 !important;
}
.cm-var{
    color: #9cdcfe
}
.cm-number{
    color: #b5cea8 !important;
}
.cm-constant{
    color: #4fc1ff;
}
.CodeMirror-cursor{
    border-color: #d4d4d4 !important;
}
.CodeMirror{
    color: #d4d4d4 !important;
    background-color: #1e1e1e !important;
}
.cm-digraph{
    color: #d7ba7d;
}
.CodeMirror-selected{
    background-color: #555 !important;
}