name: Deploy to GitHub Pages

on:
  push:
    branches:
      - version-3
    paths-ignore:
      - 'documentation/**'
      - 'jvm/**'
      - 'native/**'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  # Single deploy job since we're just deploying
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Pages
        uses: actions/configure-pages@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Scala to JS
        run: ./mill fullOptJS

      - name: Upload built HTML
        uses: actions/upload-pages-artifact@v1
        with:
          path: './pages'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
